/* Base theme */
.bn-container[data-theming-css-variables-demo][data-color-scheme] {
  --bn-colors-editor-text: #ffffff;
  --bn-colors-editor-background: #09090b; /* zinc-950 */
  --bn-colors-menu-text: #ffffff;
  --bn-colors-menu-background: #09090b; /* zinc-950 */
  --bn-colors-tooltip-text: #ffffff;
  --bn-colors-tooltip-background: #27272a; /* zinc-800 */
  --bn-colors-hovered-text: #ffffff;
  --bn-colors-hovered-background: #3f3f46; /* zinc-700 */
  --bn-colors-selected-text: #09090b; /* zinc-950 */
  --bn-colors-selected-background: #ffffff;
  --bn-colors-disabled-text: #a1a1aa; /* zinc-400 */
  --bn-colors-disabled-background: #18181b; /* zinc-900 */
  --bn-colors-shadow: #27272a; /* zinc-800 */
  --bn-colors-border: #3f3f46; /* zinc-700 */
  --bn-colors-side-menu: #ffffff;
  --bn-color-highlight-colors: #ffffff;
  --bn-border-radius: 4px;
  --bn-font-family: Helvetica Neue, sans-serif;
}

/* Changes for dark mode */
.bn-container[data-theming-css-variables-demo][data-color-scheme="dark"] {
  --bn-colors-editor-text: #ffffff;
  --bn-colors-editor-background: #09090b; /* zinc-950 */
  --bn-colors-menu-text: #ffffff;
  --bn-colors-menu-background: #09090b; /* zinc-950 */
  --bn-colors-tooltip-text: #ffffff;
  --bn-colors-tooltip-background: #27272a; /* zinc-800 */
  --bn-colors-hovered-text: #ffffff;
  --bn-colors-hovered-background: #3f3f46; /* zinc-700 */
  --bn-colors-selected-text: #09090b; /* zinc-950 */
  --bn-colors-selected-background: #ffffff;
  --bn-colors-disabled-text: #a1a1aa; /* zinc-400 */
  --bn-colors-disabled-background: #18181b; /* zinc-900 */
  --bn-colors-shadow: #27272a; /* zinc-800 */
  --bn-colors-border: #3f3f46; /* zinc-700 */
  --bn-colors-side-menu: #ffffff;
}
